body{
    margin:auto;
}

h1{
    margin:0;
    padding:0;
}

img{
    height:100px;
}

span{
    font-size:50px;
}

#content{
    width:100%;
    box-sizing:border-box;
}

/*HEADER OSIO*/
#header{
    width:100%;
    background-color:aqua;
    padding:10px;
}
/*Linkkien väri*/
#header a{
    color:#000;
}

#paivat{
    margin-top:10px;
    background-color:lime;
}

#paivat li{
    margin:0;
    padding:0;
    text-align:center;
    width:14.28571428571429%;
    font-size:5vw;
}

/*HAKU OSIO*/
#haku{
    width:100%;
    background-color:lime;
    padding:10px;
}
/*Select valikon tekstin koko*/
#haku select{
    font-size:30px;
    margin-right:2vw;
}

#haku button{
    font-size:30px;
}

/*RUOKALISTA OSIO*/
#ruokalista{
    padding:10px;
}
/*Fontinkoko ja "alleviivaus"*/
#ruokalista h1{
    font-size:7vw;
    width:100%;
    border-bottom:1px outset #000;
    padding-bottom:10px;
}
/*Plussa iconin koko ja margin*/
.glyphicon-plus-sign{
    font-size:7vw;
    margin:10px 15px 0 0;
}
/*Hinnan paikka*/
.ateriat b{
    margin-left:5px;
}
/*Paragraafeijen koko ja paikka*/
.piilo p{
    font-size:20px;
    margin-top:10px;
    margin-left:20px;
}

/*OSTOSKORI OSIO*/
#ostoskori{
    padding:10px;
}

#ostoskori table{
    font-size:4.5vw;
    margin-bottom:10px;
}
/*Ajetaan yli bootstrapin vakio muotoilun ja luodaan omat reunat*/
.table, td, tr, th{
    border:none !important;
    border-bottom:1px solid #000 !important;
}
/*Muunetaan taulukon "otsikko" lohkot*/
#ostoskori th{
    text-transform:uppercase;
    text-align:center;
}

#ostoskori td{
    font-weight:bold;
}

#ostoskori h1{
    margin-bottom:10px;
    text-align:center;
}

#ostoskori button{
    font-size:30px;
    margin-top:10px;
}

/*LOMAKE OSIO*/
#lomake{
    padding:10px;
}

#lomake label, #lomake input{
    font-size:20px;
}

#lomake h1{
    text-align:center;
}

#lomake button{
    font-size:30px;
}

/*Kaikkien sivujen paikka headeriin katsottuna*/
#etusivu, #ostoskori, #lomake{
    margin-top:176px;
}

#ruokalista, #ostoskori, #lomake{
    background-color:lime;
}

/*Yleinen class jolla piilotetaan halutut elementit*/
.piilo, .desk{
    display:none;
}

/*Yleiset classit jolla kellutetaan*/
.oikea{
    float:right;
}

.vasen{
    float:left;
}

/*DESKTOP näkymä*/
@media only screen and (min-width:760px){
    /*Piilotetaan mob classin jossa on elementteijä jotka halutaan vain näyttää mobiilissä*/
    .mob{
        display:none;
    }
    /*Näytetään desk classi joka oli piilotettu mobiili näkymässä*/
    .desk{
        display:block;
    }
    
    #header span{
        margin:0 150px;
    }
    
    #paivat ul{
        margin-left:25%;
    }
    
    #paivat li{
        text-align:center;
        width:100px;
        font-size:20px;
    }
    /*Kaikkien sivujen paikka headeriin katsottuna*/
    #etusivu, #ostoskori, #lomake{
        margin-top:133px;
    }
    
    /*HAKU*/
    #haku{
        padding:50px 160px;
        text-align:right;
    }
    
    /*RUOKALISTA*/
    #ruokalista{
        width:80%;
        min-height:100px;
        overflow:auto;
        margin:auto;
    }
    
    #ruokalista h1{
        font-size:2vw;
        border:none;
    }
    
    #ruokalista .ateriat{
        width:33.33333333333333%;
        height:190px;
        float:left;
        padding:10px;
        border:1px outset #000;
    }
    
    .ateriat p{
        font-size:18px
    }
    
    .glyphicon-plus-sign{
        font-size:2vw;
        margin:0 0 0 310px;
    }
    
    .glyphicon-plus-sign:hover{
        cursor:pointer;
    }
    
    .lyhenne{
        float:left;
    }
}