body{
    margin:auto;
}

h1{
    margin:0;
    padding:0;
}

img{
    height:60px;
}

span{
    font-size:50px;
}

button{
    border-radius:10px;
}

#content{
    width:100%;
    box-sizing:border-box;
    min-height:100px;
    overflow:auto;
    background-image:url("../images/ateria.jpg");
    background-size:cover;
}
/*HEADER OSIO*/
#header{
    width:100%;
    background-color:#4A8F07;
    padding:10px;
}
/*Linkkien väri*/
#header a{
    color:#000;
}

#header span{
    color:#EAB100;
}

#paivat{
    margin-top:10px;
    background-color:#A4D739;
    border-radius:5px;
}

#paivat li{
    margin:0;
    padding:0;
    text-align:center;
    width:14.28571428571429%;
    font-size:20px;
}

.nav-pills .active a{
    background-color:#327300 !important;
}

/*HAKU OSIO*/
#haku{
    width:100%;
    background-color:rgba(74,143,7,0.5);
    padding:10px;
}
/*Select valikon tekstin koko*/
#haku select{
    font-size:7vw;
    margin-right:2vw;
}

#haku button{
    font-size:7vw;
}

/*RUOKALISTA OSIO*/
#ruokalista{
    padding:10px;
    background-color:rgba(255,255,255,0.35);
}
/*Fontinkoko ja "alleviivaus"*/
#ruokalista h1{
    font-size:7vw;
    width:100%;
    border-bottom:1px outset #000;
    padding-bottom:10px;
}
/*Plussa iconin koko ja margin*/
.glyphicon-plus-sign{
    font-size:7vw;
    margin:10px 15px 0 0;
}
/*Hinnan paikka*/
.ateriat b{
    margin-left:5px;
}
/*Paragraafeijen koko ja paikka*/
.piilo p{
    font-size:20px;
    margin-top:10px;
    margin-left:20px;
}

/*OSTOSKORI OSIO*/
#ostoskori{
    padding:10px;
}

#ostoskori table{
    font-size:4.5vw;
    margin-bottom:10px;
}
/*Ajetaan yli bootstrapin vakio muotoilun ja luodaan omat reunat*/
.table, td, tr, th{
    border:none !important;
    border-bottom:1px solid #000 !important;
}
/*Muunetaan taulukon "otsikko" lohkot*/
#ostoskori th{
    text-transform:uppercase;
    text-align:center;
}

#ostoskori td{
    font-weight:bold;
}

#ostoskori h1{
    margin-bottom:10px;
    text-align:center;
}

.check{
    float:left;
    margin:0 !important;
    margin-right:10px !important;
    padding:0 !important;
    width:30px !important;
}

#ostoskori button{
    font-size:30px;
    margin-top:10px;
    margin-bottom:10px;
}

/*LOMAKE OSIO*/
#lomake{
    padding:10px;
}

#lomake label, #lomake input{
    font-size:20px;
}

#lomake h1{
    text-align:center;
    margin-bottom:20px;
}

#lomake button{
    margin-left:33%;
    font-size:30px;
}

/*Kaikkien sivujen paikka headeriin katsottuna*/
#etusivu{
    margin-top:138px;
}

#ostoskori, #lomake{
    margin-top:80px;
}

#ostoskori, #lomake{
    background-color:rgba(255,255,255,0.7);
}

/*Yleinen class jolla piilotetaan halutut elementit*/
.piilo, .desk{
    display:none;
}

/*Yleiset classit jolla kellutetaan*/
.oikea{
    float:right;
}

.vasen{
    float:left;
}

@media only screen and (max-width:760px) and (orientation:landscape){
    img{
        height:50px;
    }
    
    #etusivu{
       margin-top:133px; 
    }
    
    #ostoskori, #lomake{
         margin-top:75px;
    }
    
    .check{
        margin-top:5px !important;
    }
    
    #ruokalista h1, .glyphicon-plus-sign, #haku select, #haku button{
        font-size:5vw;
    }
}

/*TABLET näkymä*/
@media only screen and (min-width:761px) and (max-width:960px){

    /*HAKU*/
    #haku{
        padding:50px 160px;
        text-align:right;
    }
    
    /*RUOKALISTA*/    
    #ruokalista h1, .glyphicon-plus-sign, #haku select, #haku button, #ruokalista span{
        font-size:4vw;
    }
    
    /*Sivujen leveys*/
    #ostoskori, #lomake, #ruokalista{
        width:80%;
        margin:auto;
    }
    /*Kaikkien sivujen paikka headeriin katsottuna*/
    #etusivu{
        margin-top:135px;
    }
    
    #ostoskori, #lomake{
        margin-top:80px;
    }
    
    /*OSTOSKORI*/
    #ostoskori th, #ostoskori td{
        font-size:3.5vw;
    }
    
    /*LOMAKE*/
    #lomake{
        padding-top:30px;
    }
    
}

/*DESKTOP näkymä*/
@media only screen and (min-width:961px){
    /*Piilotetaan mob classin jossa on elementteijä jotka halutaan vain näyttää mobiilissä*/
    .mob{
        display:none;
    }
    /*Näytetään desk classi joka oli piilotettu mobiili näkymässä*/
    .desk{
        display:block;
    }
    
    #content{
        min-height:750px;
    }
    
    #header span{
        margin:0 150px;
        margin-bottom:10px;
    }
    
    #header h1{
        margin-left:10%;
    }
    
    #paivat{
        width:80%;
        margin:auto;
    }
    
    /*Kaikkien sivujen koko*/
    #ostoskori, #lomake, #ruokalista{
        width:80%;
        margin:auto;
    }
    /*Kaikkien sivujen paikka headeriin katsottuna*/
    #etusivu{
        margin-top:123px;
    }
    
    #ostoskori, #lomake{
        margin-top:75px;
    }
    
    /*HAKU*/
    #haku{
        padding:50px 160px;
        text-align:right;
    }
    
    #haku select, #haku button{
        font-size:30px;
    }
    
    /*RUOKALISTA*/
    #ruokalista{
        min-height:100px;
        overflow:auto;
    }
    
    #ruokalista h1{
        font-size:2vw;
        border:none;
    }
    
    #ruokalista .ateriat{
        width:33.33333333333333%;
        height:190px;
        float:left;
        padding:10px;
        border:1px outset #000;
    }
    
    .ateriat p{
        font-size:18px
    }
    
    .glyphicon-plus-sign{
        font-size:2vw;
        margin:0 0 0 20vw;
    }
    
    .glyphicon-plus-sign:hover{
        cursor:pointer;
    }
    
    .lyhenne{
        float:left;
    }
    
    /*OSTOSKORI*/
    #ostoskori th, #ostoskori td{
        font-size:25px;
    }
    
    .check{
        margin-top:3px !important;
    }
    
    /*LOMAKE*/
    #lomake{
        padding-top:30px;
    }
}